/* Your custom styles */
.image {
    display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    width: 33%;
    height: 200px;
    float: left;
}
.img-thumbnail {
    border: 0;
    width: 400px;
    height: 400px;
    overflow: hidden;
}
.grid-content img {
  max-height: 400px;
  width: auto;
}
.no-gutter > [class*='col'] {
    padding-right:0;
    padding-left:0;
}
.filter-button:hover
{
    font-size: 14px;
    border: 1px solid #595959;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #595959;

}
