/* Your custom styles */
.img-thumbnail {
    border: 0;
    height:350px;
    width:100%;
}
.no-gutter > [class*='col'] {
    padding-right:0;
    padding-left:0;
}
.filter-button:hover
{
    font-size: 14px;
    border: 1px solid #595959;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #595959;

}
