body {
    padding-top: 110px;
    background: linear-gradient(181deg, #fbfbfb, #e1d8ff) center center fixed; ;
    background-size: cover;
}
.img-thumbnail {
    border: 0;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.filter-button:hover
{
    border: 1px solid #f7f7f7;
    color: #ffffff;
    background-color: #f7f7f7;

}

